body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  background: #33658A;
}
ul.navbar {
  display: flex;
  position: absolute;
  align-items: center;
  background: #333;
  padding: 10px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

ul.navbar a {
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  margin: 0 10px;
}

ul.navbar a:hover {
  background-color: #33658A;
  border-radius: 5px;
}

.container {
  background: #fff;
  padding-top: 60px;
  width: 440px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 7px;
}

.container h1 {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  padding: 16px 25px;
  border-bottom: 1px solid #ccc;
}

.container h2 {
  text-align: center;
}
